.project-list-container{

margin-right: 10px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 200px;
  margin-top: 100px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.project-list-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333333;
text-align: center;
}

.filter-container {
  margin-bottom: 20px;
  margin: 20px;
}

#category-filter {
  padding: 5px;
  font-size: 16px;
}

.project-card {
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: transform 0.6s ease;
  margin: 20px;
  display: flex;
  align-items: flex-end;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-info {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.project-info h4 {
  font-size: 18px;
  margin: 0;
}

.project-info p {
  margin: 10px 0 0;
  font-size: 14px;
}

.view-all-button {
  width: 15%;
  height: 50px;
  margin-left: 650px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  margin-top: 50px;
}

.view-all-button:hover {
  background-color: #0056b3;
}
